

h1 {text-align: center;
  border-bottom: 3px solid rgb(1, 1, 36);
  padding-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px

}

h2 {text-align: left;
  padding-bottom: 5px;
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  
}

ul {text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20PX;

}

.well {text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 0px;
  margin-left: -15px
  
}

.update {text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-top: 3px solid rgb(1, 1, 36);
  padding-top: 10px;
 
}

img {  width: 150%;
  height: auto;
  background-repeat: no-repeat;
  /* background-size: contain; */
  border: 3px solid rgb(1, 1, 36);

}

select {
  color: black
}